.globalLoading {
 position: fixed;
 left: 0;
 top: 0;
 z-index: 999;
 background: rgba(0, 0, 0, 0.5);
 width: 100vw;
 height: 100vh;
 display: flex;
 align-items: center;
 background: rgba(0, 0, 0, 0.4);
}

.icon_loading {
 position: absolute;
 top: 45%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100;
 font-size: 12px !important;
}