.header_teacher {
 width: 102%;
 height: 60px;
 border-bottom: 1px #555;
 box-shadow: 5px 5px whitesmoke;
 box-sizing: border-box;
 display: flex;
 align-items: center;

}

.left-header {
 justify-content: center;
 align-items: center;
 padding-left: 40px;
 font-size: 20px;
 font-weight: 600;
 width: 60%;
}

.right_header {
 width: 40%;
}

.right_header {
 display: flex;
 gap: 30px;
 justify-content: center;
}

.icon_header {
 box-sizing: border-box;
 display: flex;
 align-items: center;
 gap: 30px;
}

.seacrh_header,
.person_header {
 height: 25px;
 width: 25px;
 background: blue;
 border-radius: 50%;
 cursor: pointer;
 padding-left: 1px;
 padding-top: 1px;
}

.person_header {
 padding-left: 2px !important;
}

.icon_search {
 color: white;
 padding-left: 2px;
}

.person_search {
 color: white;
}